{{> header }}
  <section class="container-fluid">
    <div class="row">
      <h3>Contacto</h3>
      <p>Si necesitas contactarme o quieres ver los proyectos que he realizado pudes visitar alguno de los sgtes enlaces*</p>
      <div>
        <a target="_blank" href="https://github.com/ZrkllT">GitHub</a>
        <a target="_blank" href="https://www.facebook.com/">Facebook</a>
        <a target="_blank" href="https://www.instagram.com/">Instagram</a>
        <a target="_blank" href="https://www.linkedin.com/">Linkedin</a>
      </div>
    </div>
  </section>
{{> footer }}

<footer>
  <p style="text-align: center;">* Yo no utilizo redes sociales (a excepción de Github), por eso los links van a la página principal de la red social</p>
</footer>