{{> header }}
  <section class="container-fluid">
    <div class="row">

      <div class="d-flex justify-content-center">
        <div class="card">
          <img src="/static/img/logo.png" class="img-fluid">
          <div class="card-body">
            <h3 class="card-title">Álvaro Cerda Silva</h3>
            <p class="card-text">Hola soy un Ingeniero Informático de Concepción, Chile</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Lenguajes y Conocimientos</li>
            <li class="list-group-item">
              <img alt="C" src = "https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg" height="33" />
              <img alt="C++" src = "https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg" height="33" />

              <img alt="C#" src = "https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg" height="33" />
              <img alt=".NET" src = "https://raw.githubusercontent.com/devicons/devicon/master/icons/dot-net/dot-net-original-wordmark.svg" height="33" />

              <img alt="Python" src = "https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" height="33" >
              <img alt="Flask" src = "https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-icon.svg" height="33" />
              <img alt="DJango" src = "https://cdn.worldvectorlogo.com/logos/django.svg" height="33" />
              
              
              <img alt="JavaScript" src = "https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" height="33" />
              <img alt="SQL Server" src = "https://www.svgrepo.com/show/303229/microsoft-sql-server-logo.svg" height="33" />
              <img alt="PostgreSQL" src = "https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" height="33" />
            </li>            
          </ul>
        </div>
      </div>

    </div>
  </section>

{{> footer }}



<!--
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
-->