{{> header }}
  <section class="container-fluid">
    <div class="row">

      <div class="d-flex justify-content-center max-width-70">
        <div class="card" style="width: 40rem;">
          <img src="/static/img/logo.png" class="img-fluid">
          <div class="card-body">
            <h3 class="card-title">Álvaro Cerda Silva</h3>
            <p class="card-text">de Concepción, Chile al mundo?</p>
          </div>
          <ul class="list-group list-group-flush">
            <p class="size-large">Hola, soy Álvaro Cerda Silva. Soy un ingeniero con 10 años de experiencia en el desarrollo de software.</p>
            <p>No me gusta definirme por el trabajo que he realizado. Me defino por lo que quiero hacer. Me gusta seguir aprendiendo y desafiandome.</p>
            <p>Me gusta desarrollar mi experiencia en una serie de áreas a lo largo de mi vida y carrera.</p>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-center">
              <a href="https://github.com/ZrkllT" class="card-link">GitHub</a>
              <a href="/ejemplos" class="card-link">Proyectos de Ejemplo</a>
              <a href="/contacto" class="card-link">Contacto</a>
            </li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Lenguajes y Conocimientos</li>
            <li class="list-group-item">
              <img alt="C" src = "https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg" height="33" />
              <img alt="C++" src = "https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg" height="33" />

              <img alt="C#" src = "https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg" height="33" />
              <img alt=".NET" src = "https://raw.githubusercontent.com/devicons/devicon/master/icons/dot-net/dot-net-original-wordmark.svg" height="33" />

              <img alt="Python" src = "https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" height="33" >
              <img alt="Flask" src = "https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-icon.svg" height="33" />
              <img alt="DJango" src = "https://cdn.worldvectorlogo.com/logos/django.svg" height="33" />
              
              
              <img alt="JavaScript" src = "https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" height="33" />
              <img alt="SQL Server" src = "https://www.svgrepo.com/show/303229/microsoft-sql-server-logo.svg" height="33" />
              <img alt="PostgreSQL" src = "https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" height="33" />
            </li>            
          </ul>
        </div>
      </div>

    </div>
  </section>

{{> footer }}
