{{> header }}
  <section class="container-fluid mt-2">
    
    <div class="row row-cols-2 g-3">

      <div class="col-12 col-md-6">
        <div class="card">
          <img src="/static/img/starwars-logo.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Dimensiones de los Personajes en la vida real</h5>
            <a href="https://github.com/ZrkllT/BCJS-Consolidacion04-StarWars" class="card-link" target="_blank">Repositorio</a>
            <a href="https://zrkllt.github.io/BCJS-Consolidacion04-StarWars/" class="card-link" target="_blank">Ejemplo</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="card">
          <img src="/static/img/presupuesto-logo.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Ejemplo de Control de Gastos</h5>
            <a href="https://github.com/ZrkllT/BCJS-Consolidacion03-PresupuestoAPP" class="card-link" target="_blank">Repositorio</a>
            <a href="https://zrkllt.github.io/BCJS-Consolidacion03-PresupuestoAPP/" class="card-link" target="_blank">Ejemplo</a>
          </div>
        </div>
      </div>

    </div>

  </section>
{{> footer }}
